			<article id="chapter3">
				<h2>Chapter 3: Onsite Optimization</h2>
				
				<section id="chapter_overview">
					<h3>Chapter Overview</h3>
					<p>Onsite optimization is the easiest place to start because it involves making changes to the code and content of your website, which is in your control and does not depend on the cooperation of others.  A general principle that you should remember is that repetitive, overuse of your keywords will not increase your ranking and will likely result in penalties from the search engines.  The content of every aspect of your webpage, from title tag, meta description, and general content should be well-written and organized with the purpose of informing and motivating the reader/customer.  There are pieces of code that can be used to identify or highlight this content for the search engine, including title tags, meta description tags, image tags, and heading tags.  When creating these tags, keep in mind the recommendations in the main body of this chapter relating to length and keyword density.  A clean URL structure will also be beneficial to the search engines in appropriately indexing your content.  Internal links in your website point from one page of your site to another and assist the reader in navigating your site and finding the right information quickly.  Internal links should include the exact keywords you are targeting.</p>
				</section>

				<section id="chapter3-1">
					<h4>Avoid Keyword Stuffing</h4>
					<p>Keyword stuffing is when the keyword is repetitively used in the visible content or in the code that is not visible to the searcher.  In the past, search engine ranking could be improved by keyword stuffing, but currently it will not only NOT improve your rankings, but may result in your site’s ranking being PENALIZED by the search engine.  The sections that follow will give more specific guidance as to how to avoid keyword stuffing.</p>
				</section>

				<section id="chapter3-2">
					<h4>Title Tags Defined</h4>
					<p>Title tags are one of the easiest and most important places to optimize your website for key words.  The title tag is a piece of code in HTML where you tell the search engines what the page is about, and the code looks like this:</p>

					<section id="code">
						<code>
							&#60;head&#62;<br>
							&#60;title Example Title /title&#62;<br>
							&#60;/head&#62;<br>
						</code>
					</section>

					<p>Each page of a website has a title tag, so a title tag is like the title of each “chapter” of your website “book.”  The title tag shows at the top of the website and it is the bolded, underlined, clickable link in search engines.</p>

					<section id="example">
						<h6>Example of a Title Tag</h6>
						<p>For example, in the screenshot below, “MMA gear-MMA warehouse” is a title tag:</p>
						<img src="#">
					</section>
				</section>

				<section id="chapter3-3">
					<h4>Title Tag Best Practices</h4>
					<p>The list below contains best practices for writing title tags, but keep in mind that Google can arbitrarily rewrite any title tags.  If the Google algorithm determines that your title tag too short, keywords stuffed, or too similar to other pages on your site than Google can rewrite your title tag with other phrases drawn from your site.  Well-written title tags that follow these principles are less likely to be rewritten by Google and are more likely to be effective in drawing the potential customer’s attention.</p>

					<ul>
						<li><strong>Length</strong> - The length should be 65 characters or less.  Longer title tags will be truncated with an 	ellipsis and may be more likely to be re-written by Google.</li>
						<li><strong>Keyword Front-Loading</strong> - The title tag should contain keywords and the primary keyword should be placed at or near the beginning of the title tag.</li>
						<li><strong>Value Proposition</strong> - A title tag that contains a value proposition may catch the searcher’s eye.  Examples:  free shipping, x product from $29.99, free consultation, etc.</li>
						<li><strong>Customized</strong> - Do not write the same title tag for every page on your website.  Customize the title tag for each page so that the title tag is relevant to the content.</li>
						<li><strong>Succinct</strong> - Do not include filler words such as “and,” “or,” etc.  Use punctuation marks such as commas or ampersand symbols to separate topics.</li>
						<li><strong>Phone number</strong> - For local businesses, it is strategic to put the phone number in the title tag because you may convert business from the search results page and because it will help your listing in Google Places. </li>
						<li><strong>Avoid keyword stuffing</strong> - The title tag should contain no more than two or three variations of keywords and should not contain the keyword repetitively.  An example of keyword stuffing, i.e. what NOT to do follows:  MMA-MMA Gear- Great MMA Gear- MMA Gear For U!  Better title tags would have a variety of words, such as “MMA Gear- Equipment, Gloves, Punching Bags.”</li>
					</ul>
				</section>

				<section id="chapter3-4">
					<h4>Meta Description Defined</h4>
					<p>The meta description is the description of the webpage.  It typically displays under the title tag, although, as with title tags, Google can rewrite the meta description.  When the search keyword matches the search query, it is in bold font in the search results.  The code of a metatag looks like this:</p>

					<section id="code">
						<code>
							&#60;head&#62;<br>
							&#60;meta name= “description” content=”this is where meta description goes.”&#62;<br>
							&#60;/head&#62;<br>
						</code>
					</section>

					<section id="example">
						<h6>Meta Description Example</h6>
						<p>In the example below, the meta description for MMA Warehouse.com is, “The best selection of mixed martial arts equipment anywhere, in stock and ready to ship to you!  We offer a wide range of MMA gear from all…”</p>
						<img src="#">
					</section>
				</section>

				<section id="chapter3-5">
						<h4>Meta Description Best Practices</h4>
						<p>The meta description does not influence Google’s ranking algorithm, so a well-written meta description will not move your page up in the rankings.  However, the meta description is key to attracting customers and click-through rate will be significantly influenced by the content of your description.</p>

						<ul>
							<li><strong>Length</strong> - The length should be 160 characters or less.</li>
							<li><strong>Marketing</strong> - The meta description should be readable and compelling.</li>
							<li><strong>Unique</strong> - The meta description should be unique for each page of your website.</li>
							<li><strong>No Quotes</strong> - Don’t use quotation marks in your meta description.  Use single quotes instead.</li>
							<li><strong>Avoid Keyword Stuffing</strong> - The keywords are bolded in your meta description when they match the query.  Keywords may be incorporated but they should appear naturally and not be repetitive or out of place.</li>
						</ul>
				</section>

				<section id="chapter3-6">
					<h4>Meta Keywords (Low Importance)</h4>
					<p>Both meta descriptions and meta keywords are metatags.  A meta description tag code looks like this, <code>&#60;meta name= “description”&#62;</code>  and meta keyword looks like this, <code>&#60;meta name= “keyword”&#62;</code></p>

					<p>Meta keywords will not be discussed in depth, as they are not a critical factor in search engine optimization.  Because they do not influence Google’s ranking algorithm and they are not seen by the customer, and the only main advice with respect to meta keywords is that if your page has them, make sure that you avoid keyword stuffing.</p>
				</section>

				<section id="chapter3-7">
					<h4>High-Value Content</h4>
					<p>Unique, quality content is one of the most important steps in optimization.  Google can evaluate user-performance as part of the ranking algorithm, so that factor can cut against you if users leave your website quickly, or help you if users stay on your site.</p>

					<ul>
						<li><strong>Image Tags</strong> - Google’s algorithm can’t “see” an image or video as a person can see it.  However, Google can interpret the Alt Image tags.  These tags were originally created to assist blind users by describing the content of the images on a webpage.  You can create Alt Image tags that accurately describe the image while also including keywords.</li>
						<li><strong>Updated and quality content</strong> - Your website should be updated with new content on a regular basis, and the content should be useful.  Blogs are an effective means to accomplish this and will be discussed in greater detail in Chapter 9.</li>
						<li><strong>Avoid Copyright Infringement</strong> - Google will remove pages where a valid copyright infringement notice has been served.</li>
						<li><strong>Avoid Keyword Stuffing</strong> - Keyword density should be no greater than 5-6% of keywords.</li>
					</ul>
				</section>

				<section id="chapter3-8">
					<h4>Organizational Structure – Heading Tags and Clean URL</h4>
					<p>Content on your webpage should be organized with topics and subtopics and tags can show this organization to the search engine crawlers. To the reader, you might signal this organization through different fonts, layout, etc.  The way you signal this organization to Googlebots and other search engine crawlers is through heading tags, also called H1, H2, etc.  Although these tags are not a necessity, they are another way to help guide the search engine analysis of your content.</p>

					<ul>
						<li><strong>Heading Tag Example</strong> - In the example below, the meta description for MMA Warehouse.com is, “The best selection of mixed martial arts equipment anywhere, in stock and ready to ship to you!  We offer a wide range of MMA gear from all…”</li>
					</ul>

					<h5>Clean URL</h5>
					<p>A clean URL structure is another organizational method of improving your chances of high optimization.  A URL that is long or nonsensical is clearly less easily interpreted by the search engine than one that is clean and has keywords.</p>
					<ul>
						<li>Bad Example - youthmmagear.com/5839583/83853</li>
						<li>Better Example - youthmmagear.com/shirts/shirt-xt904</li>
						<li>Best Example - youthmmagear.com/shirts/red-shirt</li>
					</ul>
				</section>

				<section id="chapter3-9">
					<h4>Exact Keywords in Internal Links</h4>
					<p>An internal link is a hyperlink from one page on a domain to another page on the same domain, so essentially your reader can click on one page of your website and it will send that person to another page on the same website.  Internal links are useful for giving your reader a good user experience because they can efficiently navigate your site.  They are also helpful in promoting an efficient web engine crawl, which of course, is a factor in ranking.</p>

					<p>The code of an internal link looks like this:</p>

					<p><code>&#60;a href="http://www.anotherpagesamedomain.com/" title="Keyword Text"&#62;Keyword Text&#60;/a&#62;</code></p>

					<p>When creating internal links, you want to use your exact keywords in the clickable link.  For instance, if a website is targeting the keywords “litigation funding services,” then it is better to use that exact phrase in the internal link, rather than a similar phrase that may not be a target keyword, such as “lawsuit money.”</p>

					<section id="example">
						<h6>Example of Exact Keywords in Internal Link</h6>
						<p>An illustration of using exact keywords in an internal link is displayed in the screenshot below.   The link is “Read the stories of clients who have used LawCash litigation funding services.”  The reader who clicks that link will go to a different webpage on the <em>www.lawcash.net</em> site.  The internal link uses exact keywords in that “litigation funding services” is in the link.</p>
						<img src="#">
					</section>

				</section>

				<section id="chapter_summary">
					<h3>Chapter Summary</h3>
					<ol>
						<li>Do not keyword stuff (less than 6% keyword density in main content).</li>
						<li>Title tags should be short (&#60;65 characters), keyword front loaded, and include phone number if target market is local.</li>
						<li>Meta description – 160 characters and compelling</li>
						<li>Create high-quality content – Updated, quality, original content</li>
						<li>Include organizational helps – Heading tags, clean URL’s</li>
						<li>Create internal links with exact keywords</li>
					</ol>
				</section>
			</article>