			<article id="chapter4">
				<h2>Chapter 4: Onsite Optimization</h2>
				
				<section id="chapter_overview">
					<h3>Chapter Overview</h3>
					<p>Onsite optimization is the easiest place to start because it involves making changes to the code and content of your website, which is in your control and does not depend on the cooperation of others.  A general principle that you should remember is that repetitive, overuse of your keywords will not increase your ranking and will likely result in penalties from the search engines.  The content of every aspect of your webpage, from title tag, meta description, and general content should be well-written and organized with the purpose of informing and motivating the reader/customer.  There are pieces of code that can be used to identify or highlight this content for the search engine, including title tags, meta description tags, image tags, and heading tags.  When creating these tags, keep in mind the recommendations in the main body of this chapter relating to length and keyword density.  A clean URL structure will also be beneficial to the search engines in appropriately indexing your content.  Internal links in your website point from one page of your site to another and assist the reader in navigating your site and finding the right information quickly.  Internal links should include the exact keywords you are targeting.</p>
				</section>

				<section id="chapter4-1">
					<h4></h4>
					<p></p>
				</section>

				<section id="chapter_summary">
					<h3>Chapter Summary</h3>
					<ol>
						<li>Your goal is to have your business highly ranked for Organic Search Results and Google Local.</li>
						<li>Your page will show up on a search engine result only after it has been indexed.</li>
						<li>Search engines can evaluate your code, the links from your site to others and the links from other sites to you.</li>
						<li>Search engines give the most weight to the links or citations from other websites to yours.</li>
					</ol>
				</section>
			</article>