			<article id="chapter3">
				<h2>Chapter 3: Onsite Optimization</h2>
				
				<section id="chapter_overview">
					<h3>Chapter Overview</h3>
					<p>Onsite optimization is the easiest place to start because it involves making changes to the code and content of your website, which is in your control and does not depend on the cooperation of others.  A general principle that you should remember is that repetitive, overuse of your keywords will not increase your ranking and will likely result in penalties from the search engines.  The content of every aspect of your webpage, from title tag, meta description, and general content should be well-written and organized with the purpose of informing and motivating the reader/customer.  There are pieces of code that can be used to identify or highlight this content for the search engine, including title tags, meta description tags, image tags, and heading tags.  When creating these tags, keep in mind the recommendations in the main body of this chapter relating to length and keyword density.  A clean URL structure will also be beneficial to the search engines in appropriately indexing your content.  Internal links in your website point from one page of your site to another and assist the reader in navigating your site and finding the right information quickly.  Internal links should include the exact keywords you are targeting.</p>
				</section>

				<section id="chapter3-1">
					<h4>Avoid Keyword Stuffing</h4>
					<p>Keyword stuffing is when the keyword is repetitively used in the visible content or in the code that is not visible to the searcher.  In the past, search engine ranking could be improved by keyword stuffing, but currently it will not only NOT improve your rankings, but may result in your site’s ranking being PENALIZED by the search engine.  The sections that follow will give more specific guidance as to how to avoid keyword stuffing.</p>
				</section>

				<section id="chapter3-2">
					<h4>Title Tags Defined</h4>
					<p>Title tags are one of the easiest and most important places to optimize your website for key words.  The title tag is a piece of code in HTML where you tell the search engines what the page is about, and the code looks like this:</p>

					<section id="code">
						<code>
							head<br>
							title Example Title /title<br>
							/head<br>
						</code>
					</section>

					<p>Each page of a website has a title tag, so a title tag is like the title of each “chapter” of your website “book.”  The title tag shows at the top of the website and it is the bolded, underlined, clickable link in search engines.</p>

					<section id="example">
						<h6>Example of a Title Tag</h6>
						<p>For example, in the screenshot below, “MMA gear-MMA warehouse” is a title tag:</p>
						<img src="#">
					</section>
				</section>

				<section id="chapter3-3">
					<h4>Title Tag Best Practices</h4>
					<p>The list below contains best practices for writing title tags, but keep in mind that Google can arbitrarily rewrite any title tags.  If the Google algorithm determines that your title tag too short, keywords stuffed, or too similar to other pages on your site than Google can rewrite your title tag with other phrases drawn from your site.  Well-written title tags that follow these principles are less likely to be rewritten by Google and are more likely to be effective in drawing the potential customer’s attention.</p>

					<ul>
						<li><strong>Length</strong> - The length should be 65 characters or less.  Longer title tags will be truncated with an 	ellipsis and may be more likely to be re-written by Google.</li>
						<li><strong>Keyword Front-Loading</strong> - The title tag should contain keywords and the primary keyword should be placed at or near the beginning of the title tag.</li>
						<li><strong>Value Proposition</strong> - A title tag that contains a value proposition may catch the searcher’s eye.  Examples:  free shipping, x product from $29.99, free consultation, etc.</li>
						<li><strong>Customized</strong> - Do not write the same title tag for every page on your website.  Customize the title tag for each page so that the title tag is relevant to the content.</li>
						<li><strong>Succinct</strong> - Do not include filler words such as “and,” “or,” etc.  Use punctuation marks such as commas or ampersand symbols to separate topics.</li>
						<li><strong>Phone number</strong> - For local businesses, it is strategic to put the phone number in the title tag because you may convert business from the search results page and because it will help your listing in Google Places. </li>
						<li><strong>Avoid keyword stuffing</strong> - The title tag should contain no more than two or three variations of keywords and should not contain the keyword repetitively.  An example of keyword stuffing, i.e. what NOT to do follows:  MMA-MMA Gear- Great MMA Gear- MMA Gear For U!  Better title tags would have a variety of words, such as “MMA Gear- Equipment, Gloves, Punching Bags.”</li>
					</ul>
				</section>

				<section id="chapter3-4">
					<h4>Meta Description Defined</h4>
					<p>The meta description is the description of the webpage.  It typically displays under the title tag, although, as with title tags, Google can rewrite the meta description.  When the search keyword matches the search query, it is in bold font in the search results.  The code of a metatag looks like this:</p>

					<section id="code">
						<code>
							head<br>
							meta name= “description” content=”this is where meta description goes.”<br>
							/head<br>
						</code>
					</section>

					<section id="example">
						<h6>Meta Description Example</h6>
						<p>In the example below, the meta description for MMA Warehouse.com is, “The best selection of mixed martial arts equipment anywhere, in stock and ready to ship to you!  We offer a wide range of MMA gear from all…”</p>
						<img src="#">
					</section>
				</section>

				<section id="chapter3-5">
						<h4>Meta Description Best Practices</h4>
						<p>The meta description does not influence Google’s ranking algorithm, so a well-written meta description will not move your page up in the rankings.  However, the meta description is key to attracting customers and click-through rate will be significantly influenced by the content of your description.</p>

						<ul>
							<li><strong>Length</strong> - The length should be 160 characters or less.</li>
							<li><strong>Marketing</strong> - The meta description should be readable and compelling.</li>
							<li><strong>Unique</strong> - The meta description should be unique for each page of your website.</li>
							<li><strong>No Quotes</strong> - Don’t use quotation marks in your meta description.  Use single quotes instead.</li>
							<li><strong>Avoid Keyword Stuffing</strong> - The keywords are bolded in your meta description when they match the query.  Keywords may be incorporated but they should appear naturally and not be repetitive or out of place.</li>
						</ul>
				</section>

				<section id="chapter3-6">
					<h4></h4>
					<p></p>
				</section>

				<section id="chapter_summary">
					<h3>Chapter Summary</h3>
					<ol>
						<li>Your goal is to have your business highly ranked for Organic Search Results and Google Local.</li>
						<li>Your page will show up on a search engine result only after it has been indexed.</li>
						<li>Search engines can evaluate your code, the links from your site to others and the links from other sites to you.</li>
						<li>Search engines give the most weight to the links or citations from other websites to yours.</li>
					</ol>
				</section>
			</article>