			<article id="chapter2">
				<h2>Chapter 2: Keyword Strategy</h2>
				
				<section id="chapter_overview">
					<h3>Chapter Overview</h3>
					<p>The backbone to any successful online marketing campaign is a keyword strategy, where you consider search engine optimization in the context of your overall business plan.  The purpose of this chapter is to help you understand how to select the keywords that are going to bring the right type of user to your website and convert to sales.  Three metrics are helpful in this analysis:  1) keyword monthly search volume, 2) keyword competition, and 3) keyword current ranking (if you already have a website).  Also, if you have not already purchased a domain name, you should consider an exact match domain, where the domain name includes the keywords you have selected.  </p>
				</section>

				<section id="chapter2-1">
					<h4>Effective Keyword Cluster</h4>
					<p>A keyword is an actual word or phrase that is typed into the search engine query.  Most people use lower case when typing in search terms, so it’s recommended to use lowercase keywords.  Keywords are general, specific or very specific.</p>

					<section class="definition">
						<h5>Definitions:</h5> <!-- style with a pseudo selector: any <h5> nested within a section w/ a class of "definition" -->
						<ul>
							<li><strong>General keyword</strong>: “mma gear”</li>
							<li><strong>Specific</strong>: “kids mma gear”</li>
							<li><strong>Very specific</strong>:  “cheap mixed marital arts gear” or “fight gear New York”</li>
						</ul>
					</section>

					<p>As you research keywords, consider your target customer, the location of your business, and what distinguishes your business from the competition.  By using modifiers, such as “kids” or “cheap” in this example, your keywords target a smaller subset of customers, but it may be a subset that is more likely to value what your business offers.</p>

				</section>

				<section id="chapter2-2">
					<h4>Exact Match Domain</h4>
					<p>If you are selecting a domain name or purchasing a new one, you have an opportunity to choose a domain that correlates with your keywords.  An exact match domain is where the exact keywords that you are targeting are in the domain name.  For example, if your core business is MMA clothing and equipment for kids, you may want one of your keywords to be “youth mma gear.”  An exact match domain name for those keywords would be “youthmmagear.com.”  An exact match domain is an easy way to achieve higher search engine rankings, but choosing the URL is ultimately a business decision with no right or wrong answer.  A branded strategy may lead to more customer recognition and overall sales.  For example, a domain name of Jonathan’sMMAWarehouse.com would not be an exact match domain, but it may be more memorable to a customer if Jonathan’s MMA Warehouse is a well-known brand.</p>
				</section>
				
				<section id="chapter2-3">
					<h4>Keyword Diversity</h4>
					<p>You will want to choose a diversity of keywords so that they all don’t point just to the homepage, but that they target all the pages of your website.  For example, if “mma gear” points to the homepage, then “kids mma gear” might point to the category page or your website, and then “Under Armor kids mma shirts” might be a keyword for your product page.  A diverse set of keywords will give you a bigger footprint in the online marketing landscape.</p>
				</section>

				<section id="chapter2-4">
					<h4>Monthly Search Volume</h4>
					<p>Monthly search volume will show how many users type in a specific query on a monthly basis.  There are many tools available for showing monthly search volume for keyword analysis that can be found on the internet, but Google AdWords is one that is both effective and free.  The Google AdWords tool, <a href="https://adwords.google.com/o/KeywordTool">https://adwords.google.com/o/KeywordTool</a>, is meant for evaluating paid search volume, but it is useful for researching organic search volume as well.  On the left of the AdWord page, you can select broad, exact or phrase.  The exact search is the most helpful for keyword strategy because it is the most specific.</p>
				
					<section id="chapter2-4-1">
						<h5>Broad, Exact or Phrase Options in AdWords</h5>
						<ul>
							<li><strong>Broad</strong> - will encompass variations of your keyword, so for the keyword “kids mma gear,” the search volume results would include “mma gear for kids” and “mma kids gear”</li>
							<li><strong>Exact</strong> - will include only the identical phrase, so if the keyword is “kids mma gear,” then it would show the search volume for “kids mma gear” only.</li>
							<li><strong>Phrase</strong> - identical phrase, but within a larger sentence.  For the keywords “kids mma gea,” this would show the search volume for the identical phrase as well as others such as “Where can I find kids mma gear?” or “cheap kids mma gear” </li>
						</ul>

						<section id="example">
							<h6>AdWords Example</h6>
							<p>The screen shot that follows is an example of how the Google AdWords screen appears:</p>
							<img src="#">
						</section>

						<section>
							<h6 id="exercise">Google AdWords Exercise:</h6>
							<ol>
								<li>Go to <a href="https://adwords.google.com/o/KeywordTool">https://adwords.google.com/o/KeywordTool</a></li>
								<li>Select the “Exact” option on the left of the page.</li>
								<li>Type in a keyword.</li>
								<li>Note the number of searches as well as the search volume.</li>
								<li>Consider suggested keywords down below.</li>
							</ol>
						</section>

					</section>

				</section>

				<section id="chapter2-5">
					<h4>Competition</h4>
					<p>A general keyword, such as MMA gear or kids sports equipment, will often have a high search volume because it is a more obvious search term than a specific or very detailed keyword.  However, ranking for a general keyword will be difficult because competition may also be high.  A good practice is to start with 10-20 keywords, with a mix of general, specific and very detailed keywords.</p>
					<p>For example, you could have 3-4 general keywords: mma gear, kids sporting equipment, mma equipment.  Then you could have some specific keywords, such as “kids mma gear,” “mma clothes for children,” “kids MMA gloves,” “fighting gear for kids,” “mixed martial arts uniforms.”  Then you could have very specific keywords, such as “cheap badboy mma gloves,” “where can I find discount mma equipment for kids,” and “white compression shorts for boys,” etc.</p>
				</section>

				<section id="chapter2-6">
					<h4>Current Keyword List</h4>
					<p>If you already have a website, you will want to see what keywords you already rank for because you may want to build on the keywords that are already inherent in your site.  You can look up Spyfu.com to see what keywords you are ranking for, but keep in mind that the information on where each keyword ranks on Sypfu.com is not entirely accurate.  This data is dependable for showing which keywords you are ranked for, but not how highly you are ranked.  To determine how highly you are ranked, a better tool is rankchecker.com.</p>

					<section id="chapter2-5-1">
							<h5>Spyfu Example – Which keywords are ranking</h5>
							<p>In the screenshots below from spyfu.com for the website youthmmagear.com, you can see that the website is ranking for the keywords “youth mma gloves,” “youth mma gear,” “youth tapout shorts,” etc.</p>
							<img src="#">
							<img src="#">
					</section>
				</section>

				<section id="chapter2-7">
					<h4>Keyword Ranking</h4>
					<p>From the Spyfu.com list of keywords, you can check your placement for each keyword by going to rankchecker.com and selecting the “keyword rank checker” option.</p>

					<section id="chapter2-7-1">
							<h5>Rankchecker- How highly your site is ranked for keywords.</h5>
							<p>In the screenshot below, you will see that youthmmagear.com is in the top 10 ranking for the keyword “youth mma gloves” on Google.</p>
							<img src="#">
					</section>
				</section>

				<section id="chapter_summary">
					<h3>Chapter Summary</h3>
					<ol>
						<li>Your goal is to select a mixture of keywords that will point to various pages of your website.</li>
						<li>A high search volume means a lot of people are using that term, but high competition indicates that it will be difficult to rank for that term. </li>
						<li>Data to help you decide the best keywords to target will include the monthly search volume (using AdWords), competition (using AdWords), and your current keyword ranking (using Spyfu.com and Rainchecker).</li>
						<li>If you are purchasing a domain name, consider an Exact Match Domain, where the domain matches keywords. </li>
					</ol>
				</section>
			</article>