<div class="container-fluid">

	
	<div class='row'>
		<aside class="span4" id='table-of-contents'>
			<h4>The ABC's of</h4>
			<h1>SEO</h1>


<!----------This is the table of contents---------->

			<div class="accordion toc" id="accordion2">

			  <div class="accordion-group intro">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse">
			        <strong>Introduction</strong>
			      </a>

			  <div class="accordion-group ch1">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			        <strong>CHAPTER 1:</strong><br>Understanding the Search Engine Landscape
			      </a>
			    </div>
			    <div id="collapseOne" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch2">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
			        <strong>CHAPTER 2:</strong><br> Keyword Strategy
			      </a>
			    </div>
			    <div id="collapseTwo" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch3">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
			        <strong>CHAPTER 3:</strong><br> Onsite Optimization
			      </a>
			    </div>
			    <div id="collapseThree" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch4">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
			        <strong>CHAPTER 4:</strong><br> Ensuring Your Website is Indexed
			      </a>
			    </div>
			    <div id="collapseFour" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch5">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
			        <strong>CHAPTER 5:</strong><br> Link Building Landscape
			      </a>
			    </div>
			    <div id="collapseFive" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch6">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
			        <strong>CHAPTER 6:</strong><br>Low-Level Links, A Starting Point
			      </a>
			    </div>
			    <div id="collapseSix" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch7">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
			        <strong>CHAPTER 7:</strong><br> Link Building: Links in Articles Posted on Directories
			      </a>
			    </div>
			    <div id="collapseSeven" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch8">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
			        <strong>CHAPTER 8:</strong><br> Link Building, Guest Blogs
			      </a>
			    </div>
			    <div id="collapseEight" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch9">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
			        <strong>CHAPTER 9:</strong><br> Google+ Local
			      </a>
			    </div>
			    <div id="collapseNine" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch10">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
			        <strong>CHAPTER 10:</strong><br> Search Engine Tools
			      </a>
			    </div>
			    <div id="collapseTen" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch11">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven">
			        <strong>CHAPTER 11:</strong><br> Measuring and Tracking Success
			      </a>
			    </div>
			    <div id="collapseEleven" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			</div>
	
		</aside>
	
		<article class="span8" id="main">
	
	<!-- 		//------put articles and sections inside here------// -->
	
		</article>
	</div>

</div>