<div class="container-fluid">

	
	<div class='row-fluid'>
		<aside class="span4" id='table-of-contents'>
	
	
		</aside>
	
		<article class="span8" id="main">
	
	<!-- 		//------put articles and sections inside here------// -->
	
		</article>
	</div>

</div>