<div class="container-fluid">

	
	<div class='row'>
		<aside class="span4" id='table-of-contents'>
			<h4>The ABC's of</h4>
			<h1>SEO</h1>

			<div class="accordion toc" id="accordion2">

			  <div class="accordion-group intro">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse">
			        <strong>Introduction</strong>
			      </a>

			  <div class="accordion-group ch1">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			        <strong>CHAPTER 1:</strong><br>Understanding the Search Engine Landscape
			      </a>
			    </div>
			    <div id="collapseOne" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch2">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
			        <strong>CHAPTER 2:</strong><br> Keyword Strategy
			      </a>
			    </div>
			    <div id="collapseTwo" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch3">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
			        <strong>CHAPTER 3:</strong><br> Onsite Optimization
			      </a>
			    </div>
			    <div id="collapseThree" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch4">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
			        <strong>CHAPTER 4:</strong><br> Ensuring Your Website is Indexed
			      </a>
			    </div>
			    <div id="collapseFour" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch5">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
			        <strong>CHAPTER 5:</strong><br> Link Building Landscape
			      </a>
			    </div>
			    <div id="collapseFive" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch6">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
			        <strong>CHAPTER 6:</strong><br>Low-Level Links, A Starting Point
			      </a>
			    </div>
			    <div id="collapseSix" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch7">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
			        <strong>CHAPTER 7:</strong><br> Link Building: Links in Articles Posted on Directories
			      </a>
			    </div>
			    <div id="collapseSeven" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch8">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
			        <strong>CHAPTER 8:</strong><br> Link Building, Guest Blogs
			      </a>
			    </div>
			    <div id="collapseEight" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch9">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
			        <strong>CHAPTER 9:</strong><br> Google+ Local
			      </a>
			    </div>
			    <div id="collapseNine" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch10">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
			        <strong>CHAPTER 10:</strong><br> Search Engine Tools
			      </a>
			    </div>
			    <div id="collapseTen" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch11">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven">
			        <strong>CHAPTER 11:</strong><br> Measuring and Tracking Success
			      </a>
			    </div>
			    <div id="collapseEleven" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        	<li>Anim pariatur cliche...</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			</div>
	
		</aside>
	
		<article class="span8" id="main">
	
			<article id="chapter1">
				<h2>Chapter 1: Understanding the Search Engine Landscape</h2>
				
				<section id="chapter_overview">
					<h3>Chapter Overview</h3>
					<p>This chapter will layout the basic principles for understanding the search engine landscape by first explaining the elements of the search engine results page, second by outlining why indexing is necessary to appear in the results, and third by demonstrating how search engines function by evaluating a website’s own code and the code of the websites that link to it.</p>
				</section>

				<section id="chapter1-1">
					<h4>Search Engine Results Page (SERP)</h4>
					<p>A search engine results page is comprised of four main elements, which are defined below:  the query, paid listings, Google+ Local, and organic listings.  The strategies in this guide focus on how to increase your website's position in the organic listings and Google+ Local because customers generally focus almost exclusively on the first results page and the higher listings on the first page.</p>

					<section class="definition">
						<h5>Definitions:</h5> <!-- style with a pseudo selector: any <h5> nested within a section w/ a class of "definition" -->
						<ul>
							<li><strong>Query</strong> - The word or phrase that you type into the search bar.</li>
							<li><strong>Paid listings</strong> - Results that can be purchased through Google’s paid search platform, AdWords.</li>
							<li><strong>Google+ Local</strong> - Unpaid listings on Google that identify the most relevant businesses in a local area and show the location of those businesses on a map</li>
							<li><strong>Organic Search Results</strong> - Listings that are generated by the search engine based on the search engine’s evaluation of relevance.</li>
						</ul>
					</section>
				</section>

				<section id="chapter1-2">
					<h4>Indexing</h4>
					<p>A search engine is a program such as Google or Yahoo that organizes information in a process called “indexing.”  The process of indexing a website can take several months for the search engine to complete.  The search engine has to evaluate the data on your page to assess what the website is about, so that your website will be properly placed in the results.</p>

					<p>An analogy helps in understanding this concept:  If your webpage is a page and your website a book, then it will only be found by customers who are browsing through Google’s “library.”  If you aren’t in the “library,” then your book will not be read, even though it has been written.  Google has to place you in the appropriate section of the library so that your book will be categorized properly.</p>

					<p>Google indexes your website in several stages:</p>
					<section class="step-by-step">
						<ol>
							<li>Google finds a link to your page from another page. (Google “hears” about your “book”)</li>
							<li>The Googlebot visits your page. (Google “reads” your “book”)</li>
							<li>Google analyzes the data on your page and copies it into its database (Google categorizes your “book” by its exact title, but not necessarily by a topic like “science fiction.”)</li>
								<ol>
									<li>In this phase, you will find your website if you search by your name “myscrapbookingmaterials.com,” but not necessarily in a keyword search as “scrapbooking materials.” </li>
								</ol>
							<li>Google shows your page in a general search and assigns you a pager rank value.<li>
						</ol>
					</section>

					<p>The purpose of the search engine is to display the most accurate and relevant information to your query.  In general, the search engines give the most credence to the links or citations from other websites to your website (i.e. what your friends say about you).  These links are the votes that determine a website’s authority (reliability) and relevance for a specific keyword. </p>
				</section>

				<section id="chapter_summary">
					<h3>Chapter Summary</h3>
					<ol>
						<li>Your goal is to have your business highly ranked for Organic Search Results and Google Local.</li>
						<li>Your page will show up on a search engine result only after it has been indexed.</li>
						<li>Search engines can evaluate your code, the links from your site to others and the links from other sites to you.</li>
						<li>Search engines give the most weight to the links or citations from other websites to yours.</li>
					</ol>
				</section>
			</article>

			<article id="chapter2">
				<h2>Chapter 2: Keyword Strategy</h2>
				
				<section id="chapter_overview">
					<h3>Chapter Overview</h3>
					<p>The backbone to any successful online marketing campaign is a keyword strategy, where you consider search engine optimization in the context of your overall business plan.  The purpose of this chapter is to help you understand how to select the keywords that are going to bring the right type of user to your website and convert to sales.  Three metrics are helpful in this analysis:  1) keyword monthly search volume, 2) keyword competition, and 3) keyword current ranking (if you already have a website).  Also, if you have not already purchased a domain name, you should consider an exact match domain, where the domain name includes the keywords you have selected.  </p>
				</section>

				<section id="chapter2-1">
					<h4>Effective Keyword Cluster</h4>
					<p>A keyword is an actual word or phrase that is typed into the search engine query.  Most people use lower case when typing in search terms, so it’s recommended to use lowercase keywords.  Keywords are general, specific or very specific.</p>

					<section class="definition">
						<h5>Definitions:</h5> <!-- style with a pseudo selector: any <h5> nested within a section w/ a class of "definition" -->
						<ul>
							<li><strong>General keyword</strong>: “mma gear”</li>
							<li><strong>Specific</strong>: “kids mma gear”</li>
							<li><strong>Very specific</strong>:  “cheap mixed marital arts gear” or “fight gear New York”</li>
						</ul>
					</section>

					<p>As you research keywords, consider your target customer, the location of your business, and what distinguishes your business from the competition.  By using modifiers, such as “kids” or “cheap” in this example, your keywords target a smaller subset of customers, but it may be a subset that is more likely to value what your business offers.</p>

				</section>

				<section id="chapter2-2">
					<h4>Exact Match Domain</h4>
					<p>If you are selecting a domain name or purchasing a new one, you have an opportunity to choose a domain that correlates with your keywords.  An exact match domain is where the exact keywords that you are targeting are in the domain name.  For example, if your core business is MMA clothing and equipment for kids, you may want one of your keywords to be “youth mma gear.”  An exact match domain name for those keywords would be “youthmmagear.com.”  An exact match domain is an easy way to achieve higher search engine rankings, but choosing the URL is ultimately a business decision with no right or wrong answer.  A branded strategy may lead to more customer recognition and overall sales.  For example, a domain name of Jonathan’sMMAWarehouse.com would not be an exact match domain, but it may be more memorable to a customer if Jonathan’s MMA Warehouse is a well-known brand.</p>
				</section>
				
				<section id="chapter2-3">
					<h4>Keyword Diversity</h4>
					<p>You will want to choose a diversity of keywords so that they all don’t point just to the homepage, but that they target all the pages of your website.  For example, if “mma gear” points to the homepage, then “kids mma gear” might point to the category page or your website, and then “Under Armor kids mma shirts” might be a keyword for your product page.  A diverse set of keywords will give you a bigger footprint in the online marketing landscape.</p>
				</section>

				<section id="chapter2-4">
					<h4>Monthly Search Volume</h4>
					<p>Monthly search volume will show how many users type in a specific query on a monthly basis.  There are many tools available for showing monthly search volume for keyword analysis that can be found on the internet, but Google AdWords is one that is both effective and free.  The Google AdWords tool, <a href="https://adwords.google.com/o/KeywordTool">https://adwords.google.com/o/KeywordTool</a>, is meant for evaluating paid search volume, but it is useful for researching organic search volume as well.  On the left of the AdWord page, you can select broad, exact or phrase.  The exact search is the most helpful for keyword strategy because it is the most specific.</p>
				
					<section id="chapter2-4-1">
						<h5>Broad, Exact or Phrase Options in AdWords</h5>
						<ul>
							<li><strong>Broad</strong> - will encompass variations of your keyword, so for the keyword “kids mma gear,” the search volume results would include “mma gear for kids” and “mma kids gear”</li>
							<li><strong>Exact</strong> - will include only the identical phrase, so if the keyword is “kids mma gear,” then it would show the search volume for “kids mma gear” only.</li>
							<li><strong>Phrase</strong> - identical phrase, but within a larger sentence.  For the keywords “kids mma gea,” this would show the search volume for the identical phrase as well as others such as “Where can I find kids mma gear?” or “cheap kids mma gear” </li>
						</ul>

						<section id="example">
							<h6>AdWords Example</h6>
							<p>The screen shot that follows is an example of how the Google AdWords screen appears:</p>
							<img src="#">
						</section>

						<section>
							<h6 id="exercise">Google AdWords Exercise:</h6>
							<ol>
								<li>Go to <a href="https://adwords.google.com/o/KeywordTool">https://adwords.google.com/o/KeywordTool</a></li>
								<li>Select the “Exact” option on the left of the page.</li>
								<li>Type in a keyword.</li>
								<li>Note the number of searches as well as the search volume.</li>
								<li>Consider suggested keywords down below.</li>
							</ol>
						</section>

					</section>

				</section>

				<section id="chapter2-5">
					<h4>Competition</h4>
					<p>A general keyword, such as MMA gear or kids sports equipment, will often have a high search volume because it is a more obvious search term than a specific or very detailed keyword.  However, ranking for a general keyword will be difficult because competition may also be high.  A good practice is to start with 10-20 keywords, with a mix of general, specific and very detailed keywords.</p>
					<p>For example, you could have 3-4 general keywords: mma gear, kids sporting equipment, mma equipment.  Then you could have some specific keywords, such as “kids mma gear,” “mma clothes for children,” “kids MMA gloves,” “fighting gear for kids,” “mixed martial arts uniforms.”  Then you could have very specific keywords, such as “cheap badboy mma gloves,” “where can I find discount mma equipment for kids,” and “white compression shorts for boys,” etc.</p>
				</section>

				<section id="chapter2-6">
					<h4>Current Keyword List</h4>
					<p>If you already have a website, you will want to see what keywords you already rank for because you may want to build on the keywords that are already inherent in your site.  You can look up Spyfu.com to see what keywords you are ranking for, but keep in mind that the information on where each keyword ranks on Sypfu.com is not entirely accurate.  This data is dependable for showing which keywords you are ranked for, but not how highly you are ranked.  To determine how highly you are ranked, a better tool is rankchecker.com.</p>

					<section id="chapter2-5-1">
							<h5>Spyfu Example – Which keywords are ranking</h5>
							<p>In the screenshots below from spyfu.com for the website youthmmagear.com, you can see that the website is ranking for the keywords “youth mma gloves,” “youth mma gear,” “youth tapout shorts,” etc.</p>
							<img src="#">
							<img src="#">
					</section>
				</section>

				<section id="chapter2-7">
					<h4>Keyword Ranking</h4>
					<p>From the Spyfu.com list of keywords, you can check your placement for each keyword by going to rankchecker.com and selecting the “keyword rank checker” option.</p>

					<section id="chapter2-7-1">
							<h5>Rankchecker- How highly your site is ranked for keywords.</h5>
							<p>In the screenshot below, you will see that youthmmagear.com is in the top 10 ranking for the keyword “youth mma gloves” on Google.</p>
							<img src="#">
					</section>
				</section>

				<section id="chapter_summary">
					<h3>Chapter Summary</h3>
					<ol>
						<li>Your goal is to select a mixture of keywords that will point to various pages of your website.</li>
						<li>A high search volume means a lot of people are using that term, but high competition indicates that it will be difficult to rank for that term. </li>
						<li>Data to help you decide the best keywords to target will include the monthly search volume (using AdWords), competition (using AdWords), and your current keyword ranking (using Spyfu.com and Rainchecker).</li>
						<li>If you are purchasing a domain name, consider an Exact Match Domain, where the domain matches keywords. </li>
					</ol>
				</section>
			</article>

			<article id="chapter3">
				<h2>Chapter 3: Onsite Optimization</h2>
				
				<section id="chapter_overview">
					<h3>Chapter Overview</h3>
					<p>Onsite optimization is the easiest place to start because it involves making changes to the code and content of your website, which is in your control and does not depend on the cooperation of others.  A general principle that you should remember is that repetitive, overuse of your keywords will not increase your ranking and will likely result in penalties from the search engines.  The content of every aspect of your webpage, from title tag, meta description, and general content should be well-written and organized with the purpose of informing and motivating the reader/customer.  There are pieces of code that can be used to identify or highlight this content for the search engine, including title tags, meta description tags, image tags, and heading tags.  When creating these tags, keep in mind the recommendations in the main body of this chapter relating to length and keyword density.  A clean URL structure will also be beneficial to the search engines in appropriately indexing your content.  Internal links in your website point from one page of your site to another and assist the reader in navigating your site and finding the right information quickly.  Internal links should include the exact keywords you are targeting.</p>
				</section>

				<section id="chapter3-1">
					<h4>Avoid Keyword Stuffing</h4>
					<p>Keyword stuffing is when the keyword is repetitively used in the visible content or in the code that is not visible to the searcher.  In the past, search engine ranking could be improved by keyword stuffing, but currently it will not only NOT improve your rankings, but may result in your site’s ranking being PENALIZED by the search engine.  The sections that follow will give more specific guidance as to how to avoid keyword stuffing.</p>
				</section>

				<section id="chapter3-2">
					<h4>Title Tags Defined</h4>
					<p>Title tags are one of the easiest and most important places to optimize your website for key words.  The title tag is a piece of code in HTML where you tell the search engines what the page is about, and the code looks like this:</p>

					<section id="code">
						<code>
							head<br>
							title Example Title /title<br>
							/head<br>
						</code>
					</section>

					<p>Each page of a website has a title tag, so a title tag is like the title of each “chapter” of your website “book.”  The title tag shows at the top of the website and it is the bolded, underlined, clickable link in search engines.</p>

					<section id="example">
						<h6>Example of a Title Tag</h6>
						<p>For example, in the screenshot below, “MMA gear-MMA warehouse” is a title tag:</p>
						<img src="#">
					</section>
				</section>

				<section id="chapter3-3">
					<h4>Title Tag Best Practices</h4>
					<p>The list below contains best practices for writing title tags, but keep in mind that Google can arbitrarily rewrite any title tags.  If the Google algorithm determines that your title tag too short, keywords stuffed, or too similar to other pages on your site than Google can rewrite your title tag with other phrases drawn from your site.  Well-written title tags that follow these principles are less likely to be rewritten by Google and are more likely to be effective in drawing the potential customer’s attention.</p>

					<ul>
						<li><strong>Length</strong> - The length should be 65 characters or less.  Longer title tags will be truncated with an 	ellipsis and may be more likely to be re-written by Google.</li>
						<li><strong>Keyword Front-Loading</strong> - The title tag should contain keywords and the primary keyword should be placed at or near the beginning of the title tag.</li>
						<li><strong>Value Proposition</strong> - A title tag that contains a value proposition may catch the searcher’s eye.  Examples:  free shipping, x product from $29.99, free consultation, etc.</li>
						<li><strong>Customized</strong> - Do not write the same title tag for every page on your website.  Customize the title tag for each page so that the title tag is relevant to the content.</li>
						<li><strong>Succinct</strong> - Do not include filler words such as “and,” “or,” etc.  Use punctuation marks such as commas or ampersand symbols to separate topics.</li>
						<li><strong>Phone number</strong> - For local businesses, it is strategic to put the phone number in the title tag because you may convert business from the search results page and because it will help your listing in Google Places. </li>
						<li><strong>Avoid keyword stuffing</strong> - The title tag should contain no more than two or three variations of keywords and should not contain the keyword repetitively.  An example of keyword stuffing, i.e. what NOT to do follows:  MMA-MMA Gear- Great MMA Gear- MMA Gear For U!  Better title tags would have a variety of words, such as “MMA Gear- Equipment, Gloves, Punching Bags.”</li>
					</ul>
				</section>

				<section id="chapter3-4">
					<h4>Meta Description Defined</h4>
					<p>The meta description is the description of the webpage.  It typically displays under the title tag, although, as with title tags, Google can rewrite the meta description.  When the search keyword matches the search query, it is in bold font in the search results.  The code of a metatag looks like this:</p>

					<section id="code">
						<code>
							head<br>
							meta name= “description” content=”this is where meta description goes.”<br>
							/head<br>
						</code>
					</section>

					<section id="example">
						<h6>Meta Description Example</h6>
						<p>In the example below, the meta description for MMA Warehouse.com is, “The best selection of mixed martial arts equipment anywhere, in stock and ready to ship to you!  We offer a wide range of MMA gear from all…”</p>
						<img src="#">
					</section>
				</section>

				<section id="chapter3-5">
						<h4>Meta Description Best Practices</h4>
						<p>The meta description does not influence Google’s ranking algorithm, so a well-written meta description will not move your page up in the rankings.  However, the meta description is key to attracting customers and click-through rate will be significantly influenced by the content of your description.</p>

						<ul>
							<li><strong>Length</strong> - The length should be 160 characters or less.</li>
							<li><strong>Marketing</strong> - The meta description should be readable and compelling.</li>
							<li><strong>Unique</strong> - The meta description should be unique for each page of your website.</li>
							<li><strong>No Quotes</strong> - Don’t use quotation marks in your meta description.  Use single quotes instead.</li>
							<li><strong>Avoid Keyword Stuffing</strong> - The keywords are bolded in your meta description when they match the query.  Keywords may be incorporated but they should appear naturally and not be repetitive or out of place.</li>
						</ul>
				</section>

				<section id="chapter3-6">
					<h4></h4>
					<p></p>
				</section>

				<section id="chapter_summary">
					<h3>Chapter Summary</h3>
					<ol>
						<li>Your goal is to have your business highly ranked for Organic Search Results and Google Local.</li>
						<li>Your page will show up on a search engine result only after it has been indexed.</li>
						<li>Search engines can evaluate your code, the links from your site to others and the links from other sites to you.</li>
						<li>Search engines give the most weight to the links or citations from other websites to yours.</li>
					</ol>
				</section>
			</article>
	
		</article>
	</div>

</div>