<div class="container-fluid">

	
	<div class='row-fluid'>
		<aside class="span4" id='table-of-contents'>
			<h4>The ABC's of</h4>
			<h1>SEO</h1>

			<nav class="accordion toc" id="accordion2">

			  <div class="accordion-group intro">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse">
			        <strong>INTRODUCTION</strong>
			      </a>

			  <div class="accordion-group ch1">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			        <strong>CHAPTER 1:</strong><br>Understanding the Search Engine Landscape
			      </a>
			    </div>
			    <div id="collapseOne" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Search Engine Results Page (SERP)</li>
			        	<li>Indexing</li>
			        	<li>How Search Engines Work</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch2">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
			        <strong>CHAPTER 2:</strong><br> Keyword Strategy
			      </a>
			    </div>
			    <div id="collapseTwo" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Effective Keyword Cluster</li>
			        	<li>Exact Match Domain</li>
			        	<li>Monthly Search Volume</li>
			        	<li>Competition</li>
			        	<li>Keyword Ranking</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch3">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
			        <strong>CHAPTER 3:</strong><br> Onsite Optimization
			      </a>
			    </div>
			    <div id="collapseThree" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Avoid Keyword Stuffing</li>
			        	<li>Title Tags Defined</li>
			        	<li>Meta  Description Defined</li>
			        	<li>Meta Description Best Practices</li>
			        	<li>Meta Keywords (Low Importance)</li>
			        	<li>High-Value Content</li>
			        	<li>Organizational Structure - Heading Tags and Clean URL </li>
			        	<li>Exact Keywords in Internal Links</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch4">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
			        <strong>CHAPTER 4:</strong><br> Ensuring Your Website is Indexed
			      </a>
			    </div>
			    <div id="collapseFour" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Evaluating a Website’s Index</li>
			        	<li>Page Inclusion - XML Sitemap</li>
			        	<li>Page Exclusion - Robots.txt Disallow and Noindex meta tags.</li>
			        	<li>No Meta Tag</li>
			        	<li>Steps to Identifying Noindex Meta Tags</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch5">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
			        <strong>CHAPTER 5:</strong><br> Link Building Landscape
			      </a>
			    </div>
			    <div id="collapseFive" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Why Inbound Links Are Important</li>
						<li>Inbound Link Votes are Not Equally Weighted</li>
						<li>Domain Relevance</li>
						<li>Domain Authority - Open Site Explorer</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch6">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
			        <strong>CHAPTER 6:</strong><br>Low-Level Links, A Starting Point
			      </a>
			    </div>
			    <div id="collapseSix" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
			        	<li>Directory Submissions Defined</li>
						<li>Social Bookmarks Defined</li>
						<li>Title and Description for Directories and Social Booking</li>
						<li>Directions for Using Services</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch7">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
			        <strong>CHAPTER 7:</strong><br> Link Building: Links in Articles Posted on Directories
			      </a>
			    </div>
			    <div id="collapseSeven" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
						<li>Article Marketing Defined</li>
						<li>Outsourcing Article Marketing</li>Content Writing
						<li>Article Marketing on Hubpages</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch8">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
			        <strong>CHAPTER 8:</strong><br> Link Building, Guest Blogs
			      </a>
			    </div>
			    <div id="collapseEight" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
						<li>Guest Blog Defined</li>
						T<li>wo Very Important Precautions with Guest Blogging</li>
						<li>Getting started finding Guest blogging Opportunities</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch9">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
			        <strong>CHAPTER 9:</strong><br> Google+ Local
			      </a>
			    </div>
			    <div id="collapseNine" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
						<li>What is Google+ Local</li>
						<li>Building Your Google Places - Remember to Verify!</li>
						<li>Citations for Google+ Local</li>
						<li>Where to Submit Your Website for Citations</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch10">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
			        <strong>CHAPTER 10:</strong><br> Search Engine Tools
			      </a>
			    </div>
			    <div id="collapseTen" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
						<li>SEOMoz Pro Membership</li>
						<li>OpenSiteExplorer.org to Test Domain Authority</li>
						<li>SearchStatus Add-on for FireFox</li>
						<li>RankChecker Add-on for Firefox</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="accordion-group ch11">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven">
			        <strong>CHAPTER 11:</strong><br> Measuring and Tracking Success
			      </a>
			    </div>
			    <div id="collapseEleven" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <ul>
						<li>Tracking Rankings for Keywords</li>
						<li>Tracking Traffic and Revenue</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			</nav>
	
		</aside>
	
		<article class="span8" id="main">
	
			<%= render 'chapter1' %>
			<hr>
			<%= render 'chapter2' %>
			<hr>
			<%= render 'chapter3' %>
			<hr>
			<%= render 'chapter4' %>
	
		</article>
	</div>

</div>