// ------Color Variables------ //

$white: #fff;
$black: #000;
$border: #ccc;
$dark-grey: #333;
$light-grey: #E0E0E0;
$blue: #404853;
$light_blue: #8C9198;
$green: #8EC63F;
$orange: #DFA054;

// ------End Color Variables------ //


// ------Style Varibales------ //

$light-text-shadow: 0 1px 0 white;
$dark-text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);

// ------End Style Varibales------ //


// -------On to the Styles for the Guide------//

body {
	background: url('bg/png.png');

	.container-fluid {
		height: 100%;
		max-width: 1400px;
		min-width: 800px;
		padding-left: 0px;
		padding-right: 30px;

		.row-fluid {
			min-height: 100%;
		
			aside, .span4 {
				background: $blue;
				box-shadow: inset -1px 0px 4px $black;
				color: $white;
				float: left;
				margin-left: 0px;
				max-width: 330px;
				min-height: 100%;
				padding-top: 20px;
				// position: fixed;

				h4 {
					font-style: italic;
					font-weight: normal;
					text-align: center;
					text-shadow: $dark-text-shadow;
				}

				h1 {
					border-bottom: 4px double $border;
					font-size: 58.5px;
					margin-right: auto;
					margin-left: auto;
					padding-bottom: 20px;
					text-align: center;
					text-shadow: $dark-text-shadow;
					width: 225px;
				}

				ul, li {
					display: block;
				}
			}

			#main {
				margin-top: 30px;

			}
		}

	}
}

